.div1{
    width: 140px;
    height: 187px;
    background-image: url("cards.png");
    background-position: -143px -200px;
    float: left;
}
.div2{
    width: 140px;
    height: 185px;
    background-image: url("cards.png");
    background-position: -431px -600px;
    margin-left: -100px;
    float: left;
}
.div3{
    width: 140px;
    height: 185px;
    background-image: url("cards.png");
    background-position: -287px -1395px;
    margin-left: -100px;
    float: left;

}
