h1{
    text-align: right;
    font-size: medium;
}
.div1{
    font-style: italic;
    text-align: right;
}
.title{
    text-align: right;
}
.ltitle{
    text-align: right;
    font-style: italic;
}
.p1{
    text-decoration: underline;
    text-indent: 30px;
    font-family: 'Bad Script', cursive;
    font-weight: 900;
}
.p2{
    font-family: 'Bad Script', cursive;
    text-indent: 30px;
}
.end{
    text-align: left;

}